:root{
  /* Colors */
  --color-blue:#2d3875;
  --color-blue-transparent:#4d99b9c4;
  --color-red: #9d221b;
  --color-text: #535152;
  --color-text-quote:#a95352;
  /* Fonts */
  --bebas-neue:'Bebas Neue',cursive;
  --times-new-roman:'Times New Roman', Times, serif;
}

p {
  color:var(--color-text);
  font-family:var(--times-new-roman);
  text-align:justify;
  line-height:1.2;
}

.paragraph-capitalized::first-letter {
  font-size: 3em;
  margin-right:4px;
  line-height: 0.5;
}

blockquote {
  font-style: italic;
  margin:0;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}