:root{
  /* Colors */
  --color-blue: #2d3875;
  --color-blue-transparent: #4d99b9c4;
  --color-red: #9d221b;
  --color-text: #535152;
  --color-text-quote: #a95352;
  /* Fonts */
  --bebas-neue: 'Bebas Neue', cursive;
  --times-new-roman: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

p, 
ol,
ul {
  color: var(--color-text);
  font-family: var(--times-new-roman);
  text-align: justify;
}

ol li::marker,
ul li::marker {
  color: var(--color-red);
}

.paragraph-capitalized::first-letter {
  text-transform: UPPERCASE;
  font-size: 3em;
  margin-right: 4px;
  line-height: 0.5;
}

blockquote {
  font-style: italic;
  margin: 0;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}