.blocker {
  overflow: hidden!important;
  z-index:10000!important;
  background-color: rgba(0,0,0,0.75);
  text-align: center;
}

.modal {
  max-width: 600px!important;
  max-height: 90%!important;
  overflow-y: auto;
  width:0;
  text-align:justify!important;
}

.modal a.close-modal {
  display:none!important;
}

div.container-close-button{
  position: sticky;
  top: -20px;
  padding: 15px 0 10px;
  margin: -25px -20px;
  text-align:right;
}

a.modal-close-button {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('../../assets/img/close.svg');
  width:15px;
  height:15px;
}