.ui-region-button {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Bebas Neue',cursive;
  display: flex;
  place-content: center;
  font-size: 1.8em;
  letter-spacing: 2px;
  font-weight: lighter;
}

.ui-region-table-content {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.ui-region-page-number::before {
  content: "";
  height: 6px;
  width: 500px;
  background-color: #9e1f1e;
  position: absolute;
  bottom: 7px;
  left: 20px;
}

.ui-region-page-number.left::before {
  left: -498px;
}

/* .ui-region-hover {
  background-color: rgba(0, 102, 255, 0.3);
}

.ui-region-press {
  background-color: rgba(0, 102, 255, 0.5);
} */

.ui-region-tooltip {
  font-size: 13px !important;
}