.ui-menu {
  inset: 10% 10% 10% 76%!important;
  overflow-y: auto;
  display:none!important;
}

@media screen and (max-width:576px){
  .ui-menu {
    inset: 10% 10% 10% 30%!important;
  }
}

@media screen and (max-width:450px){
  .ui-menu {
    inset: 10% 10% 10% 20%!important;
  }
}

@media screen and (min-width:577px) and (max-width:768px){
  .ui-menu {
    inset: 10% 10% 10% 40%!important;
  }
}

@media screen and (min-width:769px) and (max-width:992px){
  .ui-menu {
    inset: 10% 10% 10% 55%!important;
  }
}

@media screen and (min-width:993px) and (max-width:1200px){
  .ui-menu {
    inset: 10% 10% 10% 65%!important;
  }
}