.shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition: left 0.7s ease, top 0.7s ease, opacity 0.15s ease;
}

.shine:active:after {
  opacity: 0;
}